<div class="center hero-unit">
  <h1>Charge Tool</h1>
  <h2>
    This is the home page for the
    <a href="http://cochs.org/">COCHS</a> Charge Tool.
  </h2>
  <%= link_to "Sign up", new_user_registration_path,
              class: "btn btn-large btn-primary" %>
</div>