<% if user_signed_in? %>
  <div class="row">
    <aside class="span4">
      <%= link_to "New Survey", new_survey_path,
                  class: "btn btn-large btn-primary" %>
    </aside>
    <div class="span8">
      <h3>Surveys</h3>
      <%= render 'shared/surveys' %>
    </div>
  </div>
<% else %>
  <%= render 'default' %>
<% end %>