<li id="<%= survey.id %>">
  <span class="title">
    <%= link_to survey.name, survey %>
  </span>
  <span class="timestamp">
    Created <%= time_ago_in_words(survey.created_at) %> ago.
  </span>
</li>