<li id="<%= survey.id %>">
  <span class="title">
    <%= link_to survey.name, survey %>
  </span>
  <span class="timestamp">
    Created <%= time_ago_in_words(survey.created_at) %> ago.
  </span>
  <%= link_to "delete", survey, method: :delete,
              data: { confirm: "Are you sure you want to delete this survey?" },
              title: "Delete #{survey.name}", class: "btn-mini" %>
</li>