<% provide(:title, 'Admin') %>
<h1>Admin</h1>

<%= link_to "Users", admin_users_path %>
<%#= button_to 'Generate Charges',
              process_charges_file_path,
              method: :put,
              class: "btn"%>
<%#= button_to 'Generate Charge Aliases',
              process_charge_aliases_file_path,
              method: :put,
              class: "btn"%>